extends layouts/login

block init
  link(rel='stylesheet', href='/css/login.css')
  link(rel='stylesheet', href='/css/index.css')

block main
  nav.navbar.navbar-fixed-top.navbar-inverse
    div.navbar-header
      a.navbar-brand(href='/') Programa de Recompensas
    form.navbar-form.navbar-right(action='/entrar', method='post')
      div.form-group
        input.form-control(type='text', name='email', placeholder='Email')
      div.form-group
        input.form-control(type='password', name='senha', placeholder='Senha')
      button.btn.btn-success(type='submit') Entrar
  div.container
    div.content
      div.login-form
        h2 Crie uma conta
        form.form-horizontal(action='/', method='post')
          fieldset
            - var c = cliente || {}
            - var e = errors || {}
            if e.nome
              div.clearfix.has-error
                label.col-sm-3.control-label(for='nome') Nome
                div.col-sm-7
                  input.form-control.required(type='text', name='nome', placeholder='Nome completo')
                  span.help-block=e.nome.message
            else
              div.clearfix
                label.col-sm-3.control-label(for='nome') Nome
                div.col-sm-7
                  input.form-control.required(type='text', name='nome', placeholder='Nome completo', value=c.nome)
            if e.email
              div.clearfix.has-error
                label.col-sm-3.control-label(for='email') Email
                div.col-sm-7
                  input.form-control.required(type='text', name='email', placeholder='Email')
                  span.help-block=e.email.message
            else
              div.clearfix
                label.col-sm-3.control-label(for='email') Email
                div.col-sm-7
                  input.form-control.required(type='text', name='email', placeholder='Email', value=c.email)
            if e.documento
              div.clearfix.has-error
                label.col-sm-3.control-label(for='documento') Documento
                div.col-sm-7
                  input.form-control.required(type='text', name='documento', placeholder='CPF ou passaporte')
                  span.help-block=e.documento.message
            else
              div.clearfix
                label.col-sm-3.control-label(for='documento') Documento
                div.col-sm-7
                  input.form-control.required(type='text', name='documento', placeholder='CPF ou passaporte', value=c.documento)
            if e.endereco
              div.clearfix.has-error
                label.col-sm-3.control-label(for='endereco') Endereço
                div.col-sm-7
                  input.form-control(type='text', name='endereco', placeholder='Logradouro, nº, complemento')
                  span.help-block=e.endereco.message
            else
              div.clearfix
                label.col-sm-3.control-label(for='endereco') Endereço
                div.col-sm-7
                  input.form-control(type='text', name='endereco', placeholder='Logradouro, nº, complemento', value=c.endereco)
            if e.cidade
              div.clearfix.has-error
                label.col-sm-3.control-label(for='cidade') Cidade
                div.col-sm-7
                  input.form-control(type='text', name='cidade', placeholder='Cidade')
                  span.help-block=e.cidade.message
            else
              div.clearfix
                label.col-sm-3.control-label(for='cidade') Cidade
                div.col-sm-7
                  input.form-control(type='text', name='cidade', placeholder='Cidade', value=c.cidade)
            if e.estado
              div.clearfix.has-error
                label.col-sm-3.control-label(for='estado') Estado
                div.col-sm-7
                  input.form-control(type='text', name='estado', placeholder='Estado')
                  span.help-block=e.estado.message
            else
              div.clearfix
                label.col-sm-3.control-label(for='estado') Estado
                div.col-sm-7
                  input.form-control(type='text', name='estado', placeholder='Estado', value=c.estado)
            if e.cep
              div.clearfix.has-error
                label.col-sm-3.control-label(for='cep') CEP
                div.col-sm-7
                  input.form-control(type='text', name='cep', placeholder='CEP')
                  span.help-block=e.cep.message
            else
              div.clearfix
                label.col-sm-3.control-label(for='cep') CEP
                div.col-sm-7
                  input.form-control(type='text', name='cep', placeholder='CEP', value=c.cep)
            div.clearfix
              label.col-sm-3.control-label(for='telefone') Telefone
              div.col-sm-7
                input.form-control(type='text', name='telefone', placeholder='(DDD) Número')
            div.clearfix
              label.col-sm-3.control-label(for='celular') Celular
              div.col-sm-7
                input.form-control(type='text', name='celular', placeholder='(DDD) Número')
            div.clearfix
              label.col-sm-3.control-label(for='empresa') Empresa
              div.col-sm-7
                input.form-control(type='text', name='empresa', placeholder='Empresa')
            if e.hashed_password
              div.clearfix.has-error
                label.col-sm-3.control-label(for='senha') Senha
                div.col-sm-7
                  input.form-control.required(type='password', name='senha', placeholder='Senha')
                  span.help-block=e.hashed_password.message
            else
              div.clearfix
                label.col-sm-3.control-label(for='senha') Senha
                div.col-sm-7
                  input.form-control.required(type='password', name='senha', placeholder='Senha')
            if e.confirm
              div.clearfix.has-error
                label.col-sm-3.control-label(for='confirm') Confirmação
                div.col-sm-7
                  input.form-control.required(type='password', name='confirm', placeholder='Confirme a senha')
                  span.help-block=e.confirm.message
            else
              div.clearfix
              label.col-sm-3.control-label(for='confirm') Confirmação
              div.col-sm-7
                input.form-control.required(type='password', name='confirm', placeholder='Confirme a senha')
            div.col-sm-offset-3.col-sm-7
              button.btn.btn-primary.btn-block(type='submit') Criar
